@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CharterItalic;
  src: url('../assets/charterItalic.ttf');
}

@font-face {
  font-family: Charter;
  src: url('../assets/charterRegular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
